.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.legendItem {
    border: 0px;
    border-right: 20px solid black;
    text-align: right;
    padding-right: 10px;
    margin-top: 4px;
}

.tooltip {
    position: absolute;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    pointer-events: none;
    padding: 3px;
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}
circle.out-of-brush {
    fill: #ccc !important;
}
.highlighted-row{
    background-color: #FFFAE3 !important;
}

.histogram-bar{
    fill: rgb(104, 181, 255);
    stroke-width:1;stroke: rgb(255, 255, 255)
}